body {
    background-color: #f3eef1;
    font-family:"Segoe UI", Arial, sans-serif;
    margin: 40px;
    color:333px;
}

h1 
{
    color: #1e4b9a;
    font-size: 42px;
    text-align: center;
    font-weight:700;
    margin-bottom: 15px;
}

h2 
{
    color: #444;
    font-family: 'Trebuchet MS', sans-serif;
    margin-top: 40px;
    border-left:5px solid #1e4b9a;
    padding-left:10px;
}

p 
{
    font-size: 18px;
    line-height: 1.6;
}

ul, ol {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
}
li
{
    margin-bottom:8px;
    font-size:17px;
}

img 
{
    border: 4px solid #1e4b9a;
    border-radius: 12px;
    margin-bottom: 25px;
    width:250px;
}

a
{
    color:#1e4b9a;
    font-weight: bold;
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}

.moods-container
{
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 40px;
}

.mood-item
{
    text-align: center;
}

.mood-item img
{
    width: 250px;
    height:auto;
    border:4px solid #1e4b9a;
    border-radius: 12px;
}